/* styling of the */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    /*background-color: #f7f7f7;*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('../assets/img/img8.jpg');
    color: #555;
    font-family: 'ubuntu', 'arial', sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}



h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}


.login{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 450px;
  height: auto;
  padding: 80px 40px;
  box-sizing: border-box;
  /*background: rgba(0,0,0,.5);*/
  background: #fff;
  border-radius: 5px;
  border-top: solid 5px #3A56B7; 
}



input[type=email] {
  background-image: url('../assets/img/ios7-email-outline.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password] {
  background-image: url('../assets/img/ios7-email-outline.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn-button-login{

  width: 40%;
  background-color: #7c69ef;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-button-login:hover{
border-left: 8px solid #333;
cursor: pointer;
-webkit-transition: width 0.12s ease-in-out;
transition: 0.5s;
}

.web-footer{

  background-color: transparent;
    position: absolute;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    padding: 30px;
    color: #000;
    margin-top: 60px;
}

.forgot a{

  text-decoration: none;
  font-size: 18px;
}

